*{
    font-family: 'poppins';
  }
.product-style{
text-align: left;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content:baseline;
padding: none; 
}

 h1{
    height: 0px;
    margin :40px 0px;
}
.product-style p{
   font-size: 30px;
    height: 0px;
}

#thumbnail{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content:left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    /* width: 250px; */
    text-decoration: none;
    color: #000;
}

